/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-smy1op73sz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-smy1op73sz] {
    flex: 1;
}

.sidebar[b-smy1op73sz] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-smy1op73sz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-smy1op73sz]  a, .top-row[b-smy1op73sz]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-smy1op73sz]  a:hover, .top-row[b-smy1op73sz]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-smy1op73sz]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-smy1op73sz] {
        display: none;
    }

    .top-row.auth[b-smy1op73sz] {
        justify-content: space-between;
    }

    .top-row[b-smy1op73sz]  a, .top-row[b-smy1op73sz]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-smy1op73sz] {
        flex-direction: row;
    }

    .sidebar[b-smy1op73sz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-smy1op73sz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-smy1op73sz], article[b-smy1op73sz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-y3z9jhal68] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-y3z9jhal68] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-y3z9jhal68] {
    font-size: 1.1rem;
}

.nav-item[b-y3z9jhal68] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-y3z9jhal68] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-y3z9jhal68] {
    padding-bottom: 1rem;
}

.nav-item[b-y3z9jhal68]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    transition: all 0.3s ease;
}

.nav-item[b-y3z9jhal68]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-y3z9jhal68]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-y3z9jhal68] {
    background-color: #343a40;
    transition: all 0.3s ease-out;
}

/* Estilos para dispositivos móveis */
@media (max-width: 640.98px) {
    .nav-scrollable[b-y3z9jhal68] {
        /* Quando o menu está recolhido */
        max-height: 0;
        overflow: hidden;
    }

    .nav-scrollable.show[b-y3z9jhal68] {
        /* Quando o menu está expandido */
        max-height: 100vh;
        overflow-y: auto;
    }
}

/* Estilos para dispositivos maiores */
@media (min-width: 641px) {
    .navbar-toggler[b-y3z9jhal68] {
        display: none;
    }

    .nav-scrollable[b-y3z9jhal68] {
        /* O menu sempre fica visível em telas maiores */
        display: block;
        height: calc(100vh - 3.5rem);
        position: sticky;
        top: 0;
        width: 250px;
    }

    .top-row[b-y3z9jhal68] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
