@page "/cliente"
@using Projeto_ES2.Components.Layout
@layout ClientLayout

<main>  
    <div class="client-content">
        <h3>Bem-vindo ao Painel do Cliente!</h3>
        <p>Esta é a página onde você pode visualizar seus ativos financeiros e relatórios.</p>
    </div>
</main>
